/* Reset margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
    background-color: #f4f4f4;
    color: #fff
}

nav {
    background-color: rgba(255,215,0, 0.8); /* Black background */
    color: white;
    padding: 15px 0; /* Increased padding */
    text-align: center;
    border-radius: 10px; /* Rounded corners */
}

nav ul {
    list-style: none;
    padding: 0; /* Remove default padding */
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: white; /* White text for links */
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ddd; /* Lighter color on hover */
}

#content {
    margin-top: 20px;
}

footer, .home-footer, .login-footer, .register-footer{
    background-color: rgba(255,215,0, 0.8); /* Black background for footers */
    color: white; /* White text */
    text-align: center;
    padding: 20px 0; /* Adjusted padding */
    border-radius: 10px; /* Rounded corners */
    font-style: italic; /* Example of additional styling */
}

footer p {
    margin: 0;
}

.login-footer, .register-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

label {
    color: #fff
}