<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Stadium To Database</title>
</head>
<body>
    <form method="post">
        <Label for="name">Stadium Name</Label><br>
        <input type="text" id="name" name="name" required><br>

        <Label for="name">Stadium Image Url</Label><br>
        <textarea id="image_url" name="image_url" required></textarea><br>

        <Label for="club_owner">Club Owner</Label><br>
        <input type="text" id="club_owner" name="club_owner" required><br>

        <Label for="general_info">General Information</Label><br>
        <textarea id="general_info" name="general_info" required></textarea><br>

        <Label for="year_established">Year Established</Label><br>
        <input type="number" id="year_established" name="year_established" required><br>

        <Label for="maintenance_company">Maintenance Company</Label><br>
        <input type="text" id="maintenance_company" name="maintenance_company"><br>

        <input type="submit" value="Add Stadium">
    </form>
</body>
</html>