{% extends "base.html" %}
{% block title %}Add Stadium{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/add_stadium.css') }}">
{% endblock %}

{% block content %}
    <form method="post">
        <Label for="name">Stadium Name</Label><br>
        <input type="text" id="name" name="name" required><br>

        <Label for="name">Stadium Image Url</Label><br>
        <textarea id="image_url" name="image_url" required></textarea><br>

        <Label for="club_owner">Club Owner</Label><br>
        <input type="text" id="club_owner" name="club_owner" required><br>

        <Label for="general_info">General Information</Label><br>
        <textarea id="general_info" name="general_info" required></textarea><br>

        <Label for="year_established">Year Established</Label><br>
        <input type="number" id="year_established" name="year_established" min="1700" max="2024" required><br>

        <Label for="maintenance_company">Maintenance Company</Label><br>
        <input type="text" id="maintenance_company" name="maintenance_company"><br>

        <input type="submit" value="Add Stadium">
    </form>
{% endblock content %}

{% block footer_class %}login-footer{% endblock %}