{% extends "base.html" %}
{% block title %}Register{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
{% endblock %}

{% block content %}
    <form method="post">
        {% for message in get_flashed_messages() %}
            <p>{{ message }}</p>
        {% endfor %}

        <label for="firstname">First Name</label><br>
        <input type="text" id="firstname" name="firstname" required><br>

        <label for="lastname">Last Name</label><br>
        <input type="text" id="lastname" name="lastname" required><br>

        <label for="username">Username</label><br>
        <input type="text" id="username" name="username" required><br>

        <label for="password">Password</label><br>
        <input type="password" id="password" name="password" required><br>

        <label for="re-password">Confirm Password</label><br>
        <input type="password" id="re-password" name="re-password" required><br>

        <input type="submit" value="Register">
    </form>
{% endblock content %}

{% block footer_class %}login-footer{% endblock %}